/venv
/.idea
/__pycache__/
/.mypy_cache/
/src/__pycache__/
/results/
/pycoarsenet/__pycache__/
/pycoarsenet/data/__pycache__/
/pycoarsenet/training/__pycache__/
/pycoarsenet/utils/__pycache__/
/src/wandb/
/src/config/
/pycoarsenet/postprocessing/__pycache__/
/pycoarsenet/src/wandb/*
/wandb/
tmp_*
.tmp_*
